body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("./assets/images/background.png"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(./assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(./assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(./assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #cfd8dc;
}

::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}
